### Задание 1.
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [11]:
newspapers = {'The Moscow Times': 'Wednesday, October 2, 2002',
         'The Guardian': 'Friday, 11.10.13',
         'Daily News': 'Thursday, 18 August 1977'}

In [12]:
datetime_format = {'The Moscow Times': '%A, %B %d, %Y',
         'The Guardian': '%A, %m.%d.%y',
         'Daily News': '%A, %d %B %Y'}

In [185]:
from datetime import datetime, timedelta

In [186]:
for paper_np, date in newspapers.items():
    for paper_df, dt_format in datetime_format.items():
        if paper_np == paper_df: 
            print(f"{paper_np}: \n{date}. \nФормат даты: {dt_format}. \nDatetime: {datetime.strptime(date, dt_format)} \n")

The Moscow Times:
Wednesday, October 2, 2002.
Формат даты: %A, %B %d, %Y.
Datetime: 2002-10-02 00:00:00

The Guardian:
Friday, 11.10.13.
Формат даты: %A, %m.%d.%y.
Datetime: 2013-11-10 00:00:00

Daily News:
Thursday, 18 August 1977.
Формат даты: %A, %d %B %Y.
Datetime: 1977-08-18 00:00:00

### Задание 2.
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [187]:
stream = ['2018-04-02',  
          '2018-02-29',
          '2018-19-02', 
          '2020-02-29',]

In [188]:
required_format = '%Y-%m-%d'

In [139]:
def date_true_false(dates):
    for date in dates:
        try:
            datetime.strptime(date, required_format)
            print(f"{date}\n{bool(1)}\n")
        except:
            print(f"{date}\n{bool(0)}\n")
    return

In [140]:
date_true_false(stream)

2018-04-02
True

2018-02-29
False

2018-19-02
False

2020-02-29
True

### Задание 3.
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [230]:
def date_delta_list():
    
    start_date = input('Введите дату начала периода: YYYY-MM-DD ')
    end_date = input('Введите дату конца периода: ')
    
    test = []
    
    try:
        start = datetime.strptime(start_date, '%Y-%m-%d')
        end = datetime.strptime(end_date, '%Y-%m-%d')
        
        end >= start
        
        for x in range(0, ((end - start).days + 1)): # + 1 если с end_date включительно
            test.append((start + timedelta(days = x)).strftime('%Y-%m-%d'))
        print(test)
        
    except:
        print(test)

In [233]:
date_delta_list()

Введите дату начала периода: YYYY-MM-DD 2021-10-5
Введите дату конца периода: 2021-10-1
[]

### Задание 4 (бонусное).
Ваш коллега прислал код функции:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):

"""
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
"""

element_to_delete = default_list[-1]
default_list.remove(element_to_delete)

1
return default_list[DEFAULT_USER_COUNT-2]

При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором - нет?

In [290]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list = ['A100', 'A101', 'A102']):
    
    print(default_list)
    
    element_to_delete = default_list[-1]
    
    default_list.remove(element_to_delete)
    
    print(default_list)
    
    return default_list[DEFAULT_USER_COUNT - 2]

In [292]:
delete_and_return_last_user(1)

['A100', 'A101']
['A100']

IndexError: list index out of range

Ошибка list index out of range говорит нам о том, что элемент с указанным индексом отсутствует в заданном списке

В данном примере функция delete_and_return_last_user принимает в качестве одного из аргументов список default_list, включающий в себя три элемента.

Она удаляет последний элемент из этого списка и возвращает элемент уже изменённого списка с индексом [DEFAULT_USER_COUNT - 2], или [1], ввиду DEFAULT_USER_COUNT = 3.

Так как, в ходе повторного вызова, функция принимает в качестве аргумента уже изменённый список, то операция удаления последнего элемента из этого списка, сокращает число элементов списка до одного.

В результате, попытка обратиться к элементу списка default_list с индексом [1], приводит к возникновению ошибки IndexError с комментарием list index out of range, что говорит об отсутствии элемента с указанным индексом в заданном списке.